<div id="transfer" v-cloak>
	<!-- 导航 -->
	<yd-navbar title="注册" bgcolor="#21ACFF" color="#fff">
        <yd-navbar-back-icon slot="left" color="#fff" @click.native="prev"></yd-navbar-back-icon>
        <yd-navbar-next-icon slot="right" color="#fff"></yd-navbar-next-icon>
    </yd-navbar>
    <br>

	<!-- 步骤条 -->
	 <yd-step :current="step" theme="1" current-color="#21ACFF">
        <yd-step-item>
            <span slot="bottom">创建用户</span>
        </yd-step-item>
        <yd-step-item>
            <span slot="bottom">信息录入</span>
        </yd-step-item>
        <yd-step-item>
            <span slot="bottom">关键联系人</span>
        </yd-step-item>
    </yd-step>
	<br>

    <!-- 表单1 -->
    <div v-show="step==1">
        <yd-cell-group title="输入信息">
            <yd-cell-item>
                <span slot="left">用户名：</span>
                <input slot="right" v-model="info.name" type="text" placeholder="请输入姓名">
            </yd-cell-item>
            <yd-cell-item>
                <span slot="left">密码：</span>
                <input slot="right" v-model="info.pws1" type="password" placeholder="请输入密码">
            </yd-cell-item>
            <yd-cell-item>
                <span slot="left">确认密码：</span>
                <input slot="right" v-model="info.pws2" type="password" placeholder="请输入密码">
            </yd-cell-item>
        </yd-cell-group>

        <yd-button-group>
             <yd-button size="large" type="primary" bgcolor="#21ACFF" color="#fff" @click.native="sub1">确认</yd-button>
        </yd-button-group>
    </div>
	
    
    <!-- 表单2 -->
    <div v-show="step==2" >
        <yd-cell-group title="信息录入">
            <yd-cell-item>
                <span slot="left">头像：</span>
                <img src="" alt="">
            </yd-cell-item>
            <yd-cell-item>
                <span slot="left">姓名：</span>
                <yd-input slot="right"  required :showClearIcon="false" placeholder="请输入您的姓名"></yd-input>
            </yd-cell-item>
            <yd-cell-item arrow>
                <span slot="left">生日：</span>
                <yd-datetime type="date" v-model="info.datetime" slot="right" start-date="1900-03-16 15:13" end-date="2019-10-21 22:21"></yd-datetime>
            </yd-cell-item>
             <yd-cell-item>
                <span slot="left">邮箱：</span>
                <yd-input slot="right"  regex="email" placeholder="请输入邮箱地址"></yd-input>
            </yd-cell-item>
        </yd-cell-group>
        <yd-button-group>
             <yd-button size="large" type="primary" bgcolor="#21ACFF" color="#fff" @click.native="sub2">确认</yd-button>
        </yd-button-group>
    </div>

    <!-- 表单3 -->
    <div v-show="step==3">
        <!-- <yd-cell-group title="关键联系人">
            <yd-cell-item>
                <span slot="left">姓名：</span>
                <yd-input slot="right" v-model="" required :show-clear-icon="false" placeholder="请输入您的姓名"></yd-input>
            </yd-cell-item>
            <yd-cell-item>
                <span slot="left">电话：</span>
                <yd-input slot="right" v-model="input8" required :show-success-icon="false" :show-error-icon="false" regex="mobile" placeholder="请输入手机号码"></yd-input>
            </yd-cell-item>
            <yd-cell-item arrow>
                <span slot="left">所在地区：</span>
                <input slot="right" type="text" @click.stop="show2 = true" v-model="info.address" readonly placeholder="请选择地址">
            </yd-cell-item>
            <yd-cityselect
                v-model="show2"
                ref="cityselectDemo"            
             ></yd-cityselect>
        </yd-cell-group> -->
    </div>

</div>
